<div class='card'>
  <div class='card-header'>
    <h1>{{productList}}</h1>
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'> Filter by </div>
      <app-filter-textbox></app-filter-textbox>
    </div>
    <div class='row'>
      <div class='col-md-6'> Filtered by: </div>
    </div>
    <div class='table-responsive'>
      <table class='table' *ngIf = 'products && products.length'>
        <thead>
        <tr>
          <th>
            <button class='btn btn-primary' (click)="changeVisibilityImages()"> Show Images</button>
          </th>
          <th (click)="sort('productName')">{{product}}</th>
          <th (click)="sort('productCode')">{{code}}</th>
          <th>{{available}}</th>
          <th (click)="sort('price')">{{price}}</th>
          <th (click)="sort('starRating')">{{fiveStarRating}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = 'let product of products'>
          <td [hidden]="!isVisible"><img [src] = 'product.imageUrl'></td>
          <td [hidden]="isVisible"> "SECRET IMAGES" </td>
          <td>{{product.productName}}</td>
          <td>{{product.productCode | lowercase | capitalize}}</td>
          <td>{{product.price | currency: currencyCode: 'symbol'}}</td>
          <td>{{product.starRating}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
